@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.bg-yellow{
  background-color: #EC4D37;

}

body{
  background-color: #1D1B1B !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}
.bt-quadrado{
  max-width: 205px;
  max-height: 200px;
  color: black;
  font-weight: bold;
  background-color: #EC4D37;
  font-size: 30px;
  padding: 30px;
  margin-left: 30px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-right: none;
}

.img-bt{
width: 120px;
}

.img-tb{
width: 50px;
}

.bt-tb{
  width: 80px !important;
  height: 80px !important;
}

.label-home{
  color: #EC4D37 !important;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-left: none;
  padding-top: 55px;
  padding-right: 30px;
  padding-left: 190px;
  padding-bottom: 67.5px;
  margin-left: -205px;
}

.label-home:hover{
  background-color: #EC4D37;
  color: black!important;
  margin-left: -213px
}
.bt-quadrado:hover{
    background-color: blue;
}


.card-header{
  background-color: #EC4D37;
}

.card-body{
  background-color: white;
}

.card{
  border-style: solid;
  border-width: 3px;
  border-color: #EC4D37;
  border-width: 1px;
}
.edit-bt{
  width: 110px;
  height: 80px;
  border-style: solid;
  border-width: 3px;
  border-color: #660066;
  font-size: 13px;
  font-weight: bold;
  background-color: #009966;
  padding: 10px;
}

table{
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

tr{
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.label-static {
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
    color: #1D1B1B;
}

.label-ntstatic {
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}

.label-ntstatic-2 {
    margin-top: 5px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}

.label-ntstatic-3 {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}

.outliner{
    margin-top: -5px;
    border: none;
    height: 3px;
    color: #e9e9e9; /* old IE */
    background-color: #660066;
}

.outliner2{
    border: none;
    height: 3px;
    color: #479D44; /* old IE */
    background-color: #479D44;
}

.marker{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white !important;
}

.sub-marker{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #6a7fdb;
  padding: 15px;
  border-style: solid;
  border-color: #1D1B1B;
  border-width: 2px;

}

.required:after {
    content:" *";
    color: red;
  }

.input-stl{
    background-color: white;
    color: black;
    font-size: 20px;
    border: #1D1B1B solid 2px;
}

.input-stl:focus{
  border: #EC4D37 solid 2px;
}

.dropdown-item{
  font-size: 24px;
  font-weight: bold;
}

nav{
  border-style: solid;
  border-width: 3px;
  border-color: #660066;
}

.nav-link{
  font-size: 20px;
  color: white !important;
  font-weight: bold;
}

.nav-link:hover{
  color: purple !important;
  font-weight: bold;
}

.final-bt{
  float: right;
  background: #43CB75;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.final-bt:hover{
  background: #EC4D37;
  color: white;
}
.spec-bt{
  float: right;
  background: #43CB75;
  font-weight: bold;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  border-style: solid;
  border-color: #660066;
  border-width: 3px;
}

.spec-bt:hover{
  background: blue;
  color: white;
}

#excluir-bt{
  background: red;
  color: white;
  float: left !important;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: black;
}

body{
  background-color: white;
}

th{
  background-color: #EC4D37;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 100px;
  font-size: 24px;
  text-align: center;
}

.prod{
  border: solid 4px red;
}

td{
  background-color: #cccccc;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.home-cd{
  border-style: none !important;
}

.grad{
  background-image: linear-gradient(to bottom right, green, yellow);
}
